.boxSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5px;
  gap: 4px;
  flex-wrap: wrap;

  button {
    padding: 3px;
    border-radius: 6px;
    background-color: rgb(192 192 192 / 65%);
    border: none;
    box-shadow: var(--mainBoxShadow);
    transition: transform 0.1s ease, box-shadow 0.1s ease;

    &:active {
      transform: translateY(2px);
      box-shadow: var(--BoxShadowActivBtn);
    }
    img {
      height: 24px;
    }
  }
}
