@import "../../../app/style/templates.scss";
.boxSettings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: min-content;
  justify-items: center;

  button {
    @include btn-1;
  }
}
