.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.app {
  max-width: var(--maxContWidth);
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  section {
    position: absolute;
    // border: var(--mainBorder);
    border-radius: 10px;
    background-color: var(--backgroundColor);
    // overflow: hidden;
    box-shadow: 1px 1px 2px #000, 1px 1px 4px #000, inset -1px -1px 4px #000,
      -1px -1px 2px #fff, -1px -1px 4px #fff, inset 1px 1px 4px #fff;
  }
}
.sectionPersonalArea {
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  transition: transform 0.3s ease-in-out;
  transform: translate(-90%, 0%);
  &.showInterface {
    transform: translate(0%, 0%);
  }
}

.sectionBalance {
  top: 0;
  right: 0;
  height: 50px;
  width: 100px;
  transition: transform 0.3s ease-in-out;
  transform: translate(0%, -90%);
  &.showInterface {
    transform: translate(0%, 0%);
  }
}
.sectionMiniNavBar {
  bottom: 0;
  left: 50%;
  height: 50px;
  width: 400px;
  transition: transform 0.3s ease-in-out;
  transform: translate(-50%, 80%);
  &.showInterface {
    transform: translate(-50%, 0%);
  }
}
.sectionBoxSettings {
  top: 104px;
  bottom: 0;
  left: 0;
  width: 100px;
  transition: transform 0.3s ease-in-out;
  // &.showInterface {
  //   transform: translateX(-100px);
  // }
  &.showSettings {
    transform: translate(-100px, 0%);
  }
  > button {
    position: absolute;
    right: -28px;
    top: 0;
    background-color: unset;
    border: none;
    img {
      height: 24px;
    }
  }
}

.btnShowHideInterface {
  height: 100%;
  width: 100%;
  background-color: unset;
  border: none;
  color: var(--color);
}

.sectionBtnShowHideInterface {
  bottom: 0;
  left: 50%;
  height: 35px;
  width: 50px;
  transform: translateX(-50%);
  z-index: 100;
}

.footer__inner {
  display: flex;
  justify-content: var(--color);
  align-items: center;
  min-height: 140px;
  padding: 30px 0;
  background-color: beige;
}
