.user__account {
    border: 1px solid var(--borderSkin);
    border-radius: 10px;
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
}

.user__account svg {
    margin-top: 4px;
    height: 80%;
    fill: var(--borderSkin);
}

.user__account p {
    position: absolute;
    bottom: 6px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--borderSkin);
    color: var(--backgroundColorSkin);
    border-radius: 10px;
    padding: 2px 9px;
}

.user__login {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: #7d7d7de3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user__login.hidden {
    display: none;
}

.user__login_p {
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: #ff0000ad;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    color: var(--textSkin);
}
