.splash-screen {
    /* background-color: bisque; */
    height: 100vh;
}

.splash-screen__Fon1 {
    position: absolute;
    opacity: 0.1;
    height: 150vh;
    transition: transform 1s ease;
}

.splash-screen__Fon2 {
    position: absolute;
    opacity: 0.2;
    height: 130vh;
    transition: transform 2.5s ease;
}

.splash-screen__Fon3 {
    position: absolute;
    opacity: 0.3;
    height: 110vh;
    transition: transform 5s ease;
}
