/* todo login_menu_registr.css */
.hidden {
    display: none;
}
.login-menu-registr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.login-menu-registr span {
    font-size: 21px;
}

.login-menu-registr input {
    width: 200px;
    height: 25px;
    color: #000000;
    background: #ffffff;
    border: 1px solid var(--borderSkin);
    border-radius: 5px;
    padding: 6px;
}
.login-menu-registr__logError,
.login-menu-registr__passError {
    height: 16px;
}
.login-menu-registr__logError p,
.login-menu-registr__passError p {
    font-size: 12px;
    color: #ff0000;
}
/* ! разобраться  с активной кнопкой */
.login-menu-registr__button {
    height: 45px;
    width: 200px;
    background-color: var(--backgroundColorSkin);
    border: 2px solid var(--borderSkin);
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
}

.login-menu-registr__button.active {
    animation: blinc 1s infinite alternate;
}

@keyframes blinc {
    0% {
    }
    50% {
        box-shadow: 0 0 4px var(--borderSkin), 0 0 8px var(--borderSkin),
            inset 0 0 4px var(--borderSkin), inset 0 0 8px var(--borderSkin);
        text-shadow: 0 0 4px var(--borderSkin), 0 0 8px var(--borderSkin);
    }
    100% {
    }
}
