@import "./themes/dark.scss";
@import "./themes/light.scss";
@import "./templates.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

button {
  cursor: pointer;
}

:root {
  --mainBorder: 2px solid #848484;
  --mainBoxShadow: 1px 1px 4px #92929287, 1px 1px 10px #797979b3,
    inset -5px -5px 10px #00000040, -1px -1px 1px #ffffff94,
    -1px -1px 2px #ffffff87, inset 4px 5px 10px #ffffff36;
  --transparency: blur(6px)
}

body {
  background-color: var(--backgroundColor);
  transition: background 1s ease;
  color: var(--color);
  height: 99.6vh;
  width: 99.6vw;
  overflow: hidden;
  margin: 0.2%;
  border-radius: 10px;
  border: var(--mainBorder);
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
}