/*todo profile_settings.css */

.profile-settings {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.profile-settings__foto-status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.profile-settings__foto {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--borderSkin);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-settings__foto img {
  height: 100%;
}
.profile-settings__foto button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile-settings__foto button img {
  height: 20px;
  width: 20px;
}

.profile-settings__status {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-settings__status span {
  width: 80px;
  height: 16px;
  background-color: yellowgreen;
  border-radius: 7px;
}

.profile-settings__check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.profile-settings__check img {
  height: 20px;
}
.profile-settings__check p {
  font-size: 20px;
  color: #ffca00;
  font-weight: 700;
}

.profile-settings__foto_button {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
